@import "tailwindcss";


@keyframes modalIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-modal {
  animation: modalIn 0.2s ease-out forwards;
}



@keyframes modalIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-modal {
  animation: modalIn 0.2s ease-out forwards;
}



@keyframes modal {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-modal {
  animation: modal 0.2s ease-out forwards;
}



.input {
  @apply w-full border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-black;
}
